<html><div style="width: 225px">
	<h6 style="
	  margin: 10px 0;
	  padding: 0;
	  font-family: roboto-regular, sans-serif;
	  font-size: 14px;
	  color: #1d1d1b;
	">Harts Payments</h6>
	
	<a href="https://pay.ikhokha.com/harts-beauty/buy/hartspayments" style="text-decoration: none">
		<div
		  style="
			overflow: hidden;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 48px;
			background: #0BB3BF;
			color: #FFFFFF;
			border: 1px solid #e5e5e5;
			box-shadow: 1px solid #e5e5e5;
			border-radius: 16px;
			font-family: roboto-medium, sans-serif;
			font-weight: 700;
		  "
		>
		  Buy Now
		</div>
	</a>
	<h6
	  style="
		margin: 5px 0;
		padding: 0;
		font-size: 8px;
		font-family: roboto-regular, sans-serif;
		text-align: center;
	  "
	>
	  Powered by iKhokha
	</h6>
  </div></html>